header {
    width: 100%;
    height: 40px;
    /* background-color: aquamarine; */
}

.right {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.contactus {
    /* background-color: blue; */
    margin-right: 20px;
}

.contactus a {
    text-decoration: none;
    color: rgb(49, 46, 46);
    font-size: 17px;
    cursor: pointer;

}
.contactus a:hover{
    color: blue;
}

.contact {
    margin-right: 20px;
}

.input input {
    padding: 6px;
    background-color: rgb(206, 199, 199);
    border: 0;
}

::placeholder {
    color: white;
    font-weight: bold;
}

.btnmyacc button {
    padding: 6px;
    border: 0;
    color: #fff;
    font-weight: bold;
    background-color: coral;
    cursor: pointer;
}

.smallbtn {
    padding: 6px;
    border: 0;
    background-color: rgb(134, 128, 128);
    outline: 0;
    width: 17px;
    height: 16px;
    text-align: center;
}

.navbar {
    display: flex;
    width: 100%;
    height: 110px;
    /* background-color: bisque; */
    align-items: center;
    margin-top: 15px;
}

.left {
    width: 30%;
    /* background-color: blue; */
}

.left img {
    width: 100%;
    height: 100px;
}

.parentrightside {
    display: flex;
    justify-content: flex-end;
    /* background-color: brown; */
    width: 100%;
}

.parentrightside a {
    text-decoration: none;
    color: grey;
    font-size: 25px;
    margin: 15px;
}
.rightside a:hover{
    color: green;
}

.container {
    background-image: url(pexels-nazmul-chowdhury-945556.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.column {
    width: 50%;
    height: 80vh;
    /* background-color: bisque; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one {
    width: 100%;
    text-align: center;
    /* background-color: aqua; */
    font-size: 50px;
}

.one p {
    margin-top: 25px;
    color: rgb(86, 80, 80);
    height: 0px;
    font-weight: bolder;
}

.two {
    width: 100%;
    text-align: center;
    /* background-color: burlywood; */
    font-size: 100px;
}

.two p {
    margin: 0px;
    height: 0px;
    color: green;
    font-style: italic;
    font-weight: bolder;
}

.three {
    width: 100%;
    text-align: center;
    /* background-color: cadetblue; */
    font-size: 30px;
}

.three p {
    height: 0px;
    margin-top: 125px;
    color: rgb(86, 80, 80);
    font-weight: bolder;
}

.four {
    width: 100%;
    text-align: center;
    color: rgb(86, 80, 80);
}

.four p {
    height: 0px;
    margin-top: 30px;
    font-weight: bolder;
}

.flexbox {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* background-color: blueviolet; */
}

.sp {
    display: flex;
}

.buttons1 {
    margin-left: 25px;
}

.sp button {
    height: 50px;
    width: 175px;
    text-align: left;
    border: 0px;
    outline: 0px;
}

.buttons1icon button {
    height: 50px;
    width: 55px;
    background-color: orange;
    border: 0px;
    outline: 0px;
    cursor: pointer;
}